<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head-osioon lisäykset -->
</head>
<body>
    <h1>Muokkaa Reseptiä</h1>
    <form th:action="@{'/updateResepti/' + ${resepti.reseptiId}}" th:object="${resepti}" method="post" enctype="multipart/form-data">
        <input type="text" th:field="*{title}" placeholder="Otsikko">
        
         <label for="ainekset">Ainekset</label>
        <textarea id="ainekset" th:field="*{ainekset}"></textarea>
        <textarea th:field="*{reseptiText}" placeholder="Reseptin ohjeet"></textarea>
        
        <input type="submit" value="Päivitä">
    </form>
</body>
</html>
